//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.03 (64-bit)
//Part Number: GW2AR-LV18QN88C8/I7
//Device: GW2AR-18
//Device Version: C
//Created Time: Wed 07 16 23:02:46 2025

IO_LOC "O_tmds_clk_p" 33,34;
IO_PORT "O_tmds_clk_p" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_tmds_data_p[0]" 35,36;
IO_PORT "O_tmds_data_p[0]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_tmds_data_p[1]" 37,38;
IO_PORT "O_tmds_data_p[1]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_tmds_data_p[2]" 39,40;
IO_PORT "O_tmds_data_p[2]" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "running" 20;
IO_PORT "running" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_led[4]" 15;
IO_PORT "O_led[4]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_led[3]" 16;
IO_PORT "O_led[3]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_led[2]" 17;
IO_PORT "O_led[2]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_led[1]" 18;
IO_PORT "O_led[1]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_led[0]" 19;
IO_PORT "O_led[0]" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "I_key" 87;
IO_PORT "I_key" IO_TYPE=LVCMOS33 PULL_MODE=DOWN SINGLE_RESISTOR=ON BANK_VCCIO=3.3;
IO_LOC "I_rst" 88;
IO_PORT "I_rst" IO_TYPE=LVCMOS33 PULL_MODE=DOWN SINGLE_RESISTOR=ON BANK_VCCIO=3.3;
IO_LOC "I_clk" 4;
IO_PORT "I_clk" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Receive-only PS/2 keyboard through the external resistor level adapter.
// Right expansion header J5: J5.5 = FPGA 42, J5.6 = FPGA 41.
IO_LOC "I_ps2_clk" 42;
IO_PORT "I_ps2_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "I_ps2_data" 41;
IO_PORT "I_ps2_data" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

// On-board 64-Mbit QSPI flash.  Gowin "Use MSPI as Regular IO" must be true.
// On-board microSD socket in SPI mode (Tang Nano 20K rev. 3921).
// DAT3/CS=81, CMD/MOSI=82, CLK=83, DAT0/MISO=84.
IO_LOC "O_sd_cs_n" 81;
IO_PORT "O_sd_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sd_mosi" 82;
IO_PORT "O_sd_mosi" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "O_sd_clk" 83;
IO_PORT "O_sd_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "I_sd_miso" 84;
IO_PORT "I_sd_miso" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;

// Internal BL616 SPI, board v3923; proven with companion_probe.
IO_LOC "I_usb_cs_n" 86;
IO_PORT "I_usb_cs_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "I_usb_sclk" 13;
IO_PORT "I_usb_sclk" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "I_usb_mosi" 76;
IO_PORT "I_usb_mosi" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "O_usb_miso" 75;
IO_PORT "O_usb_miso" IO_TYPE=LVCMOS33 PULL_MODE=NONE;
IO_LOC "O_usb_irq_n" 69;
IO_PORT "O_usb_irq_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
